.header {
    float: left;
    grid-area: h;
    /*background-color: burlywood;*/
    border: 1px solid grey;

    /*text-align: center;*/
}

.headerBlocks {
    float: left;
    height: 100%;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}

.headerBlocks:nth-child(2) {
    margin-top: 20px;
}

.headerBlocks img {
    height: 100%;
}


/*.networkName {*/

/*    padding-bottom: 20px;*/
/*}*/