.nav {
    grid-area: n;
    /*background-color: crimson;*/
    padding: 25px;
    font-size: 25px;
    border: 1px solid grey;
}

.item a {
    color: whitesmoke;
    text-decoration: none;
}

.item:hover {
    background: grey;
    text-decoration: none;
}


.item a.activeLink {
    color: gold;
}