.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
    border: 1px solid grey;
    text-align: center;
    font-size: 1.3em;
}


.dialogItems .dialog a {
    color: whitesmoke;
    background: none;
    text-decoration: none;
}

.dialogItems .dialog:hover {
    color: whitesmoke;
    background: grey;
    background-size: 100%;
    text-decoration: none;
}

.dialogItems .dialog a.activeDialog {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    text-align: center;
    margin-bottom: 20px;
    background: black;
    color: whitesmoke;
    border: 2px solid grey;
    border-radius: 10px;
}